.header 
{
  height: 78px;
  display: flex;
  align-items: center;
  background-color: rgb(102, 70, 70);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header > Link 
{
  text-decoration:line-through;
}

.header_logo
{
  width: 75px;
  object-fit:contain;
  margin: 0 20px;
  margin-top: 4px;
}

.header_search 
{
  height: 35px;
  display: flex;
  flex: 0.92;
  align-items: center;
  border-radius:2.5px;
  border-color: wheat;
  margin-left: 30px;
  position: static;
  left: 20%;
}



.header_searchIcon
{
  margin-top: 1px;
  padding: 4px;
  height:  32px !important;
  background-color:wheat;
  border-radius:2.5px;
  border-color: wheat;
}

.header_optionLineOne
{
  font-size: 14px;
}

.header_optionLineTwo
{
  font-size: 18px;
  font-weight: 700;
}

.header_nav
{
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.header_option
{
  display:flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: wheat;
  align-items: center;
  text-decoration: none;
}

.header__optionBasket
{
  display: flex;
    z-index: 1;
  color: wheat;
  margin-top: 0px;
  margin-left: 10px;
}


.fheader_basketCount 
{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 0px;
}
 




